<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

  <display-name>DogREST</display-name>
  <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>-->
      <!--/WEB-INF/context.xml-->
    <!--</param-value>-->
  <!--</context-param>-->

  <!--<servlet>-->
    <!--<servlet-name>dogServlet</servlet-name>-->
    <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>dogServlet</servlet-name>-->
    <!--<url-pattern>/service/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!---->
  <!--<filter>-->
    <!--<filter-name>loggingFilter</filter-name>-->
    <!--<filter-class>spring.model.filters.LoggingFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>loggingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<servlet-name>dogServlet</servlet-name>-->
    <!--&lt;!&ndash;<dispatcher>REQUEST</dispatcher>&ndash;&gt;-->
  <!--</filter-mapping>-->

  <!--<filter>-->
    <!--<filter-name>connectionFilter</filter-name>-->
    <!--<filter-class>spring.model.filters.ConnectionFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>connectionFilter</filter-name>-->
    <!--<servlet-name>dogServlet</servlet-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
  <!--</listener>-->
  <!--<listener>-->
    <!--<listener-class>spring.model.listeners.RequestListener</listener-class>-->
  <!--</listener>-->
</web-app>
